body{
    background-image:url(https://i.pinimg.com/736x/61/44/84/614484b9d8489d287850b54889fbc2e5.jpg) ;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: orange;
}